name: CI with Gradle - Test and Build

# Trigger the workflow pull request,
# but only for the main branch
on:
  pull_request:
    branches: [ main ]

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=false -Dorg.gradle.jvmargs="-Xmx5g -XX:+UseParallelGC -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3.4.1
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Ubuntu build
        uses: gradle/gradle-build-action@v2.2.2
        if: matrix.os == 'ubuntu-latest'
        with:
          arguments: --full-stacktrace build

      - name: macosX64Test
        uses: gradle/gradle-build-action@v2.2.2
        if: matrix.os == 'macos-latest'
        with:
          arguments: --full-stacktrace macosX64Test

      - name: mingwX64Test
        uses: gradle/gradle-build-action@v2.2.2
        if: matrix.os == 'windows-latest'
        with:
          arguments: --full-stacktrace mingwX64Test

      - name: Upload reports
        uses: actions/upload-artifact@v3.1.0
        with:
          name: 'reports-${{ matrix.os }}'
          path: '**/build/reports/**'
