name: CI with Gradle - Test, Build and Publish

# Trigger the workflow on push,
# but only for the main branch
on:
  push:
    branches: [ main ]

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=false -Dorg.gradle.jvmargs="-Xmx5g -XX:+UseParallelGC -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
  MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
  GPG_PRIVATE_PASSWORD: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest' ]

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'adopt'
          java-version: '17'
          check-latest: true

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Publish (macos, jvm, js)
        if: matrix.os == 'macos-latest'
        run: ./gradlew build publishAllPublicationToOssrhRepository --full-stacktrace

      - name: Publish (linux)
        if: matrix.os == 'ubuntu-latest'
        run: ./gradlew linuxX64Test publishLinuxX64PublicationToOssrhRepository --full-stacktrace

      - name: Publish (windows)
        if: matrix.os == 'windows-latest'
        run: ./gradlew mingwX64Test publishMingwX64PublicationToOssrhRepository --full-stacktrace

      - name: Stop Gradle daemons
        run: ./gradlew --stop
